# Server configuration
SERVER_ADDR="localhost"
SERVER_PORT="8080"
SERVER_CORS_WHITELIST="*"
SERVER_CORS_ALLOWED_DEFAULT_METHODS="GET,OPTIONS"

# Database configuration
DATABASE_TYPE="psql"
DATABASE_URI="postgres://postgres:postgres@localhost:5432/tripidium"
DATABASE_MAX_OPEN_CONNS="10"
DATABASE_CONN_MAX_LIFETIME_SEC="30"

# Logger configuration
LOG_LEVEL="info"
LOG_FORMAT="text"