# Server configuration
SERVER_ADDR="localhost"
SERVER_PORT="8080"
SERVER_CORS_WHITELIST="*"
SERVER_CORS_ALLOWED_DEFAULT_METHODS="GET,OPTIONS"

# Database configuration
DATABASE_TYPE="psql"
DATABASE_URI="postgres://postgres:postgres@localhost:5432/tripidium"
DATABASE_MAX_OPEN_CONNS="10"
DATABASE_CONN_MAX_LIFETIME_SEC="30"

# Logger configuration
LOG_LEVEL="info"
LOG_FORMAT="text"

# Access token private key configuration
ACCESS_TOKEN_PRIVATE_KEY_FILE_PATH="access_token_private_key.pem"
ACCESS_SESSION_TTL_SEC="604800"

# Refresh token cookie configuration (for local development)
REFRESH_TOKEN_COOKIE_NAME="refresh_token"
REFRESH_TOKEN_COOKIE_SECURE="false"
REFRESH_TOKEN_COOKIE_PATH="/"
REFRESH_TOKEN_COOKIE_DOMAIN="localhost"
REFRESH_TOKEN_COOKIE_HTTP_ONLY="false"
REFRESH_TOKEN_COOKIE_SAMESITE="0"

# # Refresh token cookie configuration
# REFRESH_TOKEN_COOKIE_NAME="__Host-refresh_token"
# REFRESH_TOKEN_COOKIE_SECURE="true"
# REFRESH_TOKEN_COOKIE_PATH="/"
# REFRESH_TOKEN_COOKIE_DOMAIN="localhost"
# REFRESH_TOKEN_COOKIE_HTTP_ONLY="true"
# REFRESH_TOKEN_COOKIE_SAMESITE="2"